<a href="https://colab.research.google.com/github/apichatsc03/pyBasic/blob/main/TrainingAdv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Recap Assigment#1

In [ ]:
i = input(str())

for x in range(0, len(i)):
  if (int(x)%2):
    print("even")
  else:
    print("old")

123
old
even
old

pandas ex.

In [ ]:
import pandas as pd # as = a.k.a
from google.colab import drive # access gDrive
drive.mount('/content/gdrive')
#Dataframe
#df=pd.read_excel('gdrive/My Drive/P1-OfficeSupplies.xlsx',sheet_name='P1-OfficeSupplies')
df=pd.read_excel('gdrive/My Drive/P1-OfficeSupplies.xlsx',sheet_name=0)
df

Mounted at /content/gdrive

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1.0,2014-07-04,Richard,Pen Set,62.0,4.99,ALABAMA
1,2.0,2014-07-12,Nick,Binder,29.0,1.99,CALIFORNIA
2,3.0,2014-07-21,Morgan,Pen Set,55.0,12.49,SOUTH CAROLINA
3,4.0,2014-07-29,Susan,Binder,81.0,19.99,UTAH
4,5.0,2014-08-07,Matthew,Pen Set,42.0,23.95,WASHINGTON
5,6.0,2014-08-15,Richard,Pencil,35.0,4.99,NORTH DAKOTA
6,7.0,2014-08-24,James,Desk,3.0,275.00,NEW JERSEY
7,8.0,2014-09-01,Smith,Desk,2.0,125.00,NEW JERSEY
8,9.0,2014-09-10,Bill,Pencil,7.0,1.29,NEBRASKA
9,10.0,2014-09-18,Richard,Pen Set,16.0,15.99,OHIO
10,11.0,2014-09-27,James,Pen,76.0,1.99,NEW MEXICO
11,12.0,2014-10-05,Morgan,Binder,28.0,8.99,NEW MEXICO
12,13.0,2014-10-14,Thomas,Binder,57.0,19.99,COLORADO
13,14.0,2014-10-22,Richard,Pen,64.0,8.99,MONTANA
14,15.0,2014-10-31,Rachel,Pencil,14.0,1.29,MICHIGAN
15,16.0,2014-11-08,Susan,Pen,15.0,19.99,NORTH DAKOTA
16,17.0,2014-11-17,Alex,Binder,11.0,4.99,ILLINOIS
17,18.0,2014-11-25,Matthew,Pen Set,96.0,4.99,OHIO
18,19.0,2014-12-04,Alex,Binder,94.0,19.99,IOWA
19,20.0,2014-12-12,Smith,Pencil,67.0,1.29,KENTUCKY
20,21.0,2014-12-21,Rachel,Binder,28.0,4.99,MONTANA
21,22.0,2014-12-29,Susan,Pen Set,74.0,15.99,NORTH DAKOTA
22,23.0,2015-01-06,Richard,Pencil,95.0,1.99,UTAH
23,24.0,2015-01-15,Bill,Binder,46.0,8.99,PENNSYLVANIA
24,25.0,2015-01-23,Matthew,Binder,50.0,19.99,IDAHO
25,26.0,2015-02-01,Smith,Binder,87.0,15.00,MICHIGAN
26,27.0,2015-02-09,Alex,Pencil,36.0,4.99,SOUTH DAKOTA
27,28.0,2015-02-18,Richard,Binder,4.0,4.99,OHIO
28,29.0,2015-02-26,Bill,Pen,27.0,19.99,OHIO
29,30.0,2015-03-07,James,Binder,7.0,19.99,MISSOURI
30,31.0,2015-03-15,James,Pencil,56.0,2.99,OTHER STATES
31,32.0,2015-03-24,Alex,Pen Set,50.0,4.99,WYOMING
32,33.0,2015-04-01,Richard,Binder,60.0,4.99,GEORGIA
33,34.0,2015-04-10,Rachel,Pencil,66.0,1.99,MONTANA
34,35.0,2015-04-18,Rachel,Pencil,75.0,1.99,DELAWARE
35,36.0,2015-04-27,Nick,Pen,96.0,4.99,NORTH CAROLINA
36,37.0,2015-05-05,Alex,Pencil,90.0,4.99,ALASKA
37,38.0,2015-05-14,Bill,Pencil,53.0,1.29,IDAHO
38,39.0,2015-05-22,Thomas,Pencil,32.0,1.99,INDIANA
39,40.0,2015-05-31,Bill,Binder,80.0,8.99,CALIFORNIA
40,41.0,2015-06-08,Richard,Binder,60.0,8.99,NORTH CAROLINA
41,42.0,2015-06-17,Matthew,Desk,5.0,125.00,ARIZONA
42,43.0,2015-06-25,Morgan,Pencil,90.0,4.99,PENNSYLVANIA

In [ ]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp38-cp38-manylinux1_x86_64.whl (23.5 MB)
     |████████████████████████████████| 23.5 MB 1.9 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

In [ ]:
# การสร้าง connection MYSQL
import mysql
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='remotemysql.com',database='vRhyvS4Iqe',user='vRhyvS4Iqe',  
                        password='2E8bpkOVFk')#give ur username, password
except Error as e:
    print("Error while connecting to MySQL now ", e)

In [ ]:
df=pd.read_sql("SELECT * FROM `P1-OfficeSupplies`", con=conn)
df

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1,2014-07-04,Richard,Pen Set,62,5.0,ALABAMA
1,2,2014-07-12,Nick,Binder,29,2.0,CALIFORNIA
2,3,2014-07-21,Morgan,Pen Set,55,12.0,SOUTH CAROLINA
3,4,2014-07-29,Susan,Binder,81,20.0,UTAH
4,5,2014-08-07,Matthew,Pen Set,42,24.0,WASHINGTON
5,6,2014-08-15,Richard,Pencil,35,5.0,NORTH DAKOTA
6,7,2014-08-24,James,Desk,3,275.0,NEW JERSEY
7,8,2014-09-01,Smith,Desk,2,125.0,NEW JERSEY
8,9,2014-09-10,Bill,Pencil,7,1.0,NEBRASKA
9,10,2014-09-18,Richard,Pen Set,16,16.0,OHIO
10,11,2014-09-27,James,Pen,76,2.0,NEW MEXICO
11,12,2014-10-05,Morgan,Binder,28,9.0,NEW MEXICO
12,13,2014-10-14,Thomas,Binder,57,20.0,COLORADO
13,14,2014-10-22,Richard,Pen,64,9.0,MONTANA
14,15,2014-10-31,Rachel,Pencil,14,1.0,MICHIGAN
15,16,2014-11-08,Susan,Pen,15,20.0,NORTH DAKOTA
16,17,2014-11-17,Alex,Binder,11,5.0,ILLINOIS
17,18,2014-11-25,Matthew,Pen Set,96,5.0,OHIO
18,19,2014-12-04,Alex,Binder,94,20.0,IOWA
19,20,2014-12-12,Smith,Pencil,67,1.0,KENTUCKY
20,21,2014-12-21,Rachel,Binder,28,5.0,MONTANA
21,22,2014-12-29,Susan,Pen Set,74,16.0,NORTH DAKOTA
22,23,2015-01-06,Richard,Pencil,95,2.0,UTAH
23,24,2015-01-15,Bill,Binder,46,9.0,PENNSYLVANIA
24,25,2015-01-23,Matthew,Binder,50,20.0,IDAHO
25,26,2015-02-01,Smith,Binder,87,15.0,MICHIGAN
26,27,2015-02-09,Alex,Pencil,36,5.0,SOUTH DAKOTA
27,28,2015-02-18,Richard,Binder,4,5.0,OHIO
28,29,2015-02-26,Bill,Pen,27,20.0,OHIO
29,30,2015-03-07,James,Binder,7,20.0,MISSOURI
30,31,2015-03-15,James,Pencil,56,3.0,OTHER STATES
31,32,2015-03-24,Alex,Pen Set,50,5.0,WYOMING
32,33,2015-04-01,Richard,Binder,60,5.0,GEORGIA
33,34,2015-04-10,Rachel,Pencil,66,2.0,MONTANA
34,35,2015-04-18,Rachel,Pencil,75,2.0,DELAWARE
35,36,2015-04-27,Nick,Pen,96,5.0,NORTH CAROLINA
36,37,2015-05-05,Alex,Pencil,90,5.0,ALASKA
37,38,2015-05-14,Bill,Pencil,53,1.0,IDAHO
38,39,2015-05-22,Thomas,Pencil,32,2.0,INDIANA
39,40,2015-05-31,Bill,Binder,80,9.0,CALIFORNIA
40,41,2015-06-08,Richard,Binder,60,9.0,NORTH CAROLINA
41,42,2015-06-17,Matthew,Desk,5,125.0,ARIZONA
42,43,2015-06-25,Morgan,Pencil,90,5.0,PENNSYLVANIA

In [ ]:
pip install schedule

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting schedule
  Downloading schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: schedule
Successfully installed schedule-1.1.0

In [ ]:
import schedule
import time


def job():
  print("On Time")

# schedule.every(1).minutes.do(job)
schedule.every(10).seconds.do(job)
# schedule.every(3).hour.do(job)
# schedule.every().day.at("10:30").do(job)
# schedule.every().monday.do(job)
# schedule.every().wednesday.at("13:15").do(job)
# schedule.every().minute.at(":17").do(job)
while True:
    schedule.run_pending()
    time.sleep(1)

On Time
On Time

KeyboardInterrupt: ignored

In [ ]:
# df["Rep"] -> option 1

# df.Rep -> option 2

# print(df.iloc[2]["OrderDate"]) -> option 3

# df.iloc[0:5]["Rep"] -> option 4

# check Data type
# print(df.dtypes)

# df.Transaction=df.Transaction.astype(str) -> change type

# df2=df.copy() -> copy

df2.Rep=df2.Rep.str.lower()
df2

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1,2014-07-04,richard,Pen Set,62,5.0,ALABAMA
1,2,2014-07-12,nick,Binder,29,2.0,CALIFORNIA
2,3,2014-07-21,morgan,Pen Set,55,12.0,SOUTH CAROLINA
3,4,2014-07-29,susan,Binder,81,20.0,UTAH
4,5,2014-08-07,matthew,Pen Set,42,24.0,WASHINGTON
5,6,2014-08-15,richard,Pencil,35,5.0,NORTH DAKOTA
6,7,2014-08-24,james,Desk,3,275.0,NEW JERSEY
7,8,2014-09-01,smith,Desk,2,125.0,NEW JERSEY
8,9,2014-09-10,bill,Pencil,7,1.0,NEBRASKA
9,10,2014-09-18,richard,Pen Set,16,16.0,OHIO
10,11,2014-09-27,james,Pen,76,2.0,NEW MEXICO
11,12,2014-10-05,morgan,Binder,28,9.0,NEW MEXICO
12,13,2014-10-14,thomas,Binder,57,20.0,COLORADO
13,14,2014-10-22,richard,Pen,64,9.0,MONTANA
14,15,2014-10-31,rachel,Pencil,14,1.0,MICHIGAN
15,16,2014-11-08,susan,Pen,15,20.0,NORTH DAKOTA
16,17,2014-11-17,alex,Binder,11,5.0,ILLINOIS
17,18,2014-11-25,matthew,Pen Set,96,5.0,OHIO
18,19,2014-12-04,alex,Binder,94,20.0,IOWA
19,20,2014-12-12,smith,Pencil,67,1.0,KENTUCKY
20,21,2014-12-21,rachel,Binder,28,5.0,MONTANA
21,22,2014-12-29,susan,Pen Set,74,16.0,NORTH DAKOTA
22,23,2015-01-06,richard,Pencil,95,2.0,UTAH
23,24,2015-01-15,bill,Binder,46,9.0,PENNSYLVANIA
24,25,2015-01-23,matthew,Binder,50,20.0,IDAHO
25,26,2015-02-01,smith,Binder,87,15.0,MICHIGAN
26,27,2015-02-09,alex,Pencil,36,5.0,SOUTH DAKOTA
27,28,2015-02-18,richard,Binder,4,5.0,OHIO
28,29,2015-02-26,bill,Pen,27,20.0,OHIO
29,30,2015-03-07,james,Binder,7,20.0,MISSOURI
30,31,2015-03-15,james,Pencil,56,3.0,OTHER STATES
31,32,2015-03-24,alex,Pen Set,50,5.0,WYOMING
32,33,2015-04-01,richard,Binder,60,5.0,GEORGIA
33,34,2015-04-10,rachel,Pencil,66,2.0,MONTANA
34,35,2015-04-18,rachel,Pencil,75,2.0,DELAWARE
35,36,2015-04-27,nick,Pen,96,5.0,NORTH CAROLINA
36,37,2015-05-05,alex,Pencil,90,5.0,ALASKA
37,38,2015-05-14,bill,Pencil,53,1.0,IDAHO
38,39,2015-05-22,thomas,Pencil,32,2.0,INDIANA
39,40,2015-05-31,bill,Binder,80,9.0,CALIFORNIA
40,41,2015-06-08,richard,Binder,60,9.0,NORTH CAROLINA
41,42,2015-06-17,matthew,Desk,5,125.0,ARIZONA
42,43,2015-06-25,morgan,Pencil,90,5.0,PENNSYLVANIA

In [ ]:
df2=df2.drop(columns=["OrderDate", "Rep"])
df2

   Transaction     Item  Units  Unit Price           State
0            1  Pen Set     62         5.0         ALABAMA
1            2   Binder     29         2.0      CALIFORNIA
2            3  Pen Set     55        12.0  SOUTH CAROLINA
3            4   Binder     81        20.0            UTAH
4            5  Pen Set     42        24.0      WASHINGTON
5            6   Pencil     35         5.0    NORTH DAKOTA
6            7     Desk      3       275.0      NEW JERSEY
7            8     Desk      2       125.0      NEW JERSEY
8            9   Pencil      7         1.0        NEBRASKA
9           10  Pen Set     16        16.0            OHIO
10          11      Pen     76         2.0      NEW MEXICO
11          12   Binder     28         9.0      NEW MEXICO
12          13   Binder     57        20.0        COLORADO
13          14      Pen     64         9.0         MONTANA
14          15   Pencil     14         1.0        MICHIGAN
15          16      Pen     15        20.0    NORTH DAKOTA
16          17   Binder     11         5.0        ILLINOIS
17          18  Pen Set     96         5.0            OHIO
18          19   Binder     94        20.0            IOWA
19          20   Pencil     67         1.0        KENTUCKY
20          21   Binder     28         5.0         MONTANA
21          22  Pen Set     74        16.0    NORTH DAKOTA
22          23   Pencil     95         2.0            UTAH
23          24   Binder     46         9.0    PENNSYLVANIA
24          25   Binder     50        20.0           IDAHO
25          26   Binder     87        15.0        MICHIGAN
26          27   Pencil     36         5.0    SOUTH DAKOTA
27          28   Binder      4         5.0            OHIO
28          29      Pen     27        20.0            OHIO
29          30   Binder      7        20.0        MISSOURI
30          31   Pencil     56         3.0    OTHER STATES
31          32  Pen Set     50         5.0         WYOMING
32          33   Binder     60         5.0         GEORGIA
33          34   Pencil     66         2.0         MONTANA
34          35   Pencil     75         2.0        DELAWARE
35          36      Pen     96         5.0  NORTH CAROLINA
36          37   Pencil     90         5.0          ALASKA
37          38   Pencil     53         1.0           IDAHO
38          39   Pencil     32         2.0         INDIANA
39          40   Binder     80         9.0      CALIFORNIA
40          41   Binder     60         9.0  NORTH CAROLINA
41          42     Desk      5       125.0         ARIZONA
42          43   Pencil     90         5.0    PENNSYLVANIA

In [ ]:
df3=df.copy()
df3=df3.filter(items=["Transaction", "State", "Units"])
df3

   Transaction           State  Units
0            1         ALABAMA     62
1            2      CALIFORNIA     29
2            3  SOUTH CAROLINA     55
3            4            UTAH     81
4            5      WASHINGTON     42
5            6    NORTH DAKOTA     35
6            7      NEW JERSEY      3
7            8      NEW JERSEY      2
8            9        NEBRASKA      7
9           10            OHIO     16
10          11      NEW MEXICO     76
11          12      NEW MEXICO     28
12          13        COLORADO     57
13          14         MONTANA     64
14          15        MICHIGAN     14
15          16    NORTH DAKOTA     15
16          17        ILLINOIS     11
17          18            OHIO     96
18          19            IOWA     94
19          20        KENTUCKY     67
20          21         MONTANA     28
21          22    NORTH DAKOTA     74
22          23            UTAH     95
23          24    PENNSYLVANIA     46
24          25           IDAHO     50
25          26        MICHIGAN     87
26          27    SOUTH DAKOTA     36
27          28            OHIO      4
28          29            OHIO     27
29          30        MISSOURI      7
30          31    OTHER STATES     56
31          32         WYOMING     50
32          33         GEORGIA     60
33          34         MONTANA     66
34          35        DELAWARE     75
35          36  NORTH CAROLINA     96
36          37          ALASKA     90
37          38           IDAHO     53
38          39         INDIANA     32
39          40      CALIFORNIA     80
40          41  NORTH CAROLINA     60
41          42         ARIZONA      5
42          43    PENNSYLVANIA     90

In [ ]:
df4=df.copy()

# df4=df4[(df4.Item == "Pen Set") | (df4.Item == "Binder")] -> option 1
df4=df4.loc[(df4.Item.isin(["Binder", "Pen Set"]))]
df4

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1,2014-07-04,Richard,Pen Set,62,5.0,ALABAMA
1,2,2014-07-12,Nick,Binder,29,2.0,CALIFORNIA
2,3,2014-07-21,Morgan,Pen Set,55,12.0,SOUTH CAROLINA
3,4,2014-07-29,Susan,Binder,81,20.0,UTAH
4,5,2014-08-07,Matthew,Pen Set,42,24.0,WASHINGTON
9,10,2014-09-18,Richard,Pen Set,16,16.0,OHIO
11,12,2014-10-05,Morgan,Binder,28,9.0,NEW MEXICO
12,13,2014-10-14,Thomas,Binder,57,20.0,COLORADO
16,17,2014-11-17,Alex,Binder,11,5.0,ILLINOIS
17,18,2014-11-25,Matthew,Pen Set,96,5.0,OHIO
18,19,2014-12-04,Alex,Binder,94,20.0,IOWA
20,21,2014-12-21,Rachel,Binder,28,5.0,MONTANA
21,22,2014-12-29,Susan,Pen Set,74,16.0,NORTH DAKOTA
23,24,2015-01-15,Bill,Binder,46,9.0,PENNSYLVANIA
24,25,2015-01-23,Matthew,Binder,50,20.0,IDAHO
25,26,2015-02-01,Smith,Binder,87,15.0,MICHIGAN
27,28,2015-02-18,Richard,Binder,4,5.0,OHIO
29,30,2015-03-07,James,Binder,7,20.0,MISSOURI
31,32,2015-03-24,Alex,Pen Set,50,5.0,WYOMING
32,33,2015-04-01,Richard,Binder,60,5.0,GEORGIA
39,40,2015-05-31,Bill,Binder,80,9.0,CALIFORNIA
40,41,2015-06-08,Richard,Binder,60,9.0,NORTH CAROLINA

In [ ]:
df_replace = df4.copy()

from google.colab import files
df_replace.to_excel('Export.xlsx',sheet_name='Output')
files.download('Export.xlsx')

In [ ]:
df5 = df.copy()
# shape check lenght col, row
df.shape
#concat
df_combine = pd.concat([df, df5])
df_combine

#drop duplicate
df_combine = df_combine.drop_duplicates();
df_combine

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1,2014-07-04,Richard,Pen Set,62,5.0,ALABAMA
1,2,2014-07-12,Nick,Binder,29,2.0,CALIFORNIA
2,3,2014-07-21,Morgan,Pen Set,55,12.0,SOUTH CAROLINA
3,4,2014-07-29,Susan,Binder,81,20.0,UTAH
4,5,2014-08-07,Matthew,Pen Set,42,24.0,WASHINGTON
5,6,2014-08-15,Richard,Pencil,35,5.0,NORTH DAKOTA
6,7,2014-08-24,James,Desk,3,275.0,NEW JERSEY
7,8,2014-09-01,Smith,Desk,2,125.0,NEW JERSEY
8,9,2014-09-10,Bill,Pencil,7,1.0,NEBRASKA
9,10,2014-09-18,Richard,Pen Set,16,16.0,OHIO
10,11,2014-09-27,James,Pen,76,2.0,NEW MEXICO
11,12,2014-10-05,Morgan,Binder,28,9.0,NEW MEXICO
12,13,2014-10-14,Thomas,Binder,57,20.0,COLORADO
13,14,2014-10-22,Richard,Pen,64,9.0,MONTANA
14,15,2014-10-31,Rachel,Pencil,14,1.0,MICHIGAN
15,16,2014-11-08,Susan,Pen,15,20.0,NORTH DAKOTA
16,17,2014-11-17,Alex,Binder,11,5.0,ILLINOIS
17,18,2014-11-25,Matthew,Pen Set,96,5.0,OHIO
18,19,2014-12-04,Alex,Binder,94,20.0,IOWA
19,20,2014-12-12,Smith,Pencil,67,1.0,KENTUCKY
20,21,2014-12-21,Rachel,Binder,28,5.0,MONTANA
21,22,2014-12-29,Susan,Pen Set,74,16.0,NORTH DAKOTA
22,23,2015-01-06,Richard,Pencil,95,2.0,UTAH
23,24,2015-01-15,Bill,Binder,46,9.0,PENNSYLVANIA
24,25,2015-01-23,Matthew,Binder,50,20.0,IDAHO
25,26,2015-02-01,Smith,Binder,87,15.0,MICHIGAN
26,27,2015-02-09,Alex,Pencil,36,5.0,SOUTH DAKOTA
27,28,2015-02-18,Richard,Binder,4,5.0,OHIO
28,29,2015-02-26,Bill,Pen,27,20.0,OHIO
29,30,2015-03-07,James,Binder,7,20.0,MISSOURI
30,31,2015-03-15,James,Pencil,56,3.0,OTHER STATES
31,32,2015-03-24,Alex,Pen Set,50,5.0,WYOMING
32,33,2015-04-01,Richard,Binder,60,5.0,GEORGIA
33,34,2015-04-10,Rachel,Pencil,66,2.0,MONTANA
34,35,2015-04-18,Rachel,Pencil,75,2.0,DELAWARE
35,36,2015-04-27,Nick,Pen,96,5.0,NORTH CAROLINA
36,37,2015-05-05,Alex,Pencil,90,5.0,ALASKA
37,38,2015-05-14,Bill,Pencil,53,1.0,IDAHO
38,39,2015-05-22,Thomas,Pencil,32,2.0,INDIANA
39,40,2015-05-31,Bill,Binder,80,9.0,CALIFORNIA
40,41,2015-06-08,Richard,Binder,60,9.0,NORTH CAROLINA
41,42,2015-06-17,Matthew,Desk,5,125.0,ARIZONA
42,43,2015-06-25,Morgan,Pencil,90,5.0,PENNSYLVANIA